.Listings {
    text-align: center;
}

.listing-container {
    display: flex;
    flex-flow: row wrap;

    .job-listing {
        list-style: none;
        flex: 1 0 30%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 5px;

        border-radius: 5px;
        height: 300px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;

        .logo-placeholder {
            height: 128px;
            width: 128px;
            background-color: #1cbd6a;
            border-radius: 5px;
        }

        .listing-text {
            flex: 0 100%;
            text-align: center;
            .company {
                font-size: 16pt;
                margin: 5px;
            }
            .name, .salary, .skills {
                display: block;
                font-size: 13pt;
                font-weight: 300;
                margin: 5px;
            }
        }

    }
}

.add-listing-control {
    display: flex;
    max-width: 70%;
    flex-flow: row wrap;
    input {
        flex: 1 30%;
    }

    .Select {
        flex: 0 50%;
    }
}