.Login, .Register, .RegisterEmployer {
	display: flex;
	margin: 0 auto;

	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	input[type="text"], input[type="password"] {
		flex: 1 30%;
		margin: 1% 35%;
	}

	input[name="skills"] {
		margin-bottom: 50px;
	}

	.Select {
		flex: 1 50%;
		margin: 10px 35%;
		font-size: 14pt;
		font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
		font-weight: 200;
	}

	p {
		flex: 1 50%;
		margin: 10px 35%;
	}

    .social-login, .extra-wrapper {
		flex: 0 100%;
		align-self: center;
		display: block;
		margin: 5px 35%;
	}
}

.logout {
	&:hover {
		cursor: pointer;
	}
}
