.btn {
    min-width: 50px;
    color: #fff;
    background-color: #1cbd6a;
    padding: 5px 20px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    border: none;
    line-height: 42px;
    font-size: 18px;
    font-weight: 300;
    transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
    outline: none;

    &:hover {
        background-color: lighten(#1cbd6a, .8);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
        outline: none;
        cursor: pointer;
    }

    &:focus, &:visited, &:active {
        outline: none;
    }
}

.btn-li {
    background: #0077b5;
    &:hover {
        background-color: lighten(#0077b5, .8);
    }
}