.Nav-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	
}

.Nav {
	display: flex;
	margin-left: auto;
	flex-flow: row;
	align-items: center;

	li {
		list-style-type: none;
		margin: 10px;
		
		a {
			text-decoration: none;
			color: #5c5c5c;
		}
	}
}

.logo h1 {
	color: #1cbd6a;
	font-size: 40px;
}

