<head>
  <meta charset="utf-8">
  <title>Matcha - an intelligent job matching platform</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='react-bootstrap-table.min.css') }}">
</head>

<body>
  <div id="react-root"></div>

  <!-- Attach React components -->
  <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
