.EmployerProfile {
    .company-details {
        font-size: 18px;
        line-height: 24px;
    }

	.Select {
		flex: 1 80%;
		font-size: 14pt;
		font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
		font-weight: 200;
		margin-bottom: 20px;
	}
}