.Home {
    text-align: center;
}


.Hero {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .signup-switch {
        flex: 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        margin-bottom: 10px;

        .btn {
            flex: 0 10%;
            text-align: center;
            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    margin-bottom: 40px;
}