.StudentProfile {
    .user-details {
        font-size: 18px;
        line-height: 24px;

        .location, .looking-for, .skills {
            font-size: 20pt;
            font-weight: 300;
        }
    }
}