.StudentProfile {
    .user-details {
        font-size: 18px;
        line-height: 24px;

        .subtitle, .location, .looking-for, .skills {
            font-size: 14pt;
            line-height: 18pt;
            font-weight: 300;
        }
    }
}
