@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');
@import './react-bootstrap-table.min';

@import 'components/Login';
@import 'components/Listings';
@import 'base/Nav';
@import 'base/Button';
@import 'base/Loader';

@import 'pages/Auth';
@import 'pages/EmployerProfile';
@import 'pages/Home';
@import 'pages/StudentProfile';

body {
	font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
}

a {
	font-size: 12pt;
    cursor: pointer;
}

.App {
	padding: 10px 50px;
}

.thin {
	font-weight: 300;
}

.hide {
	display: none !important;
}

input[type="text"], input[type="password"] {
	flex-grow: 1;

	padding: 15px;
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: 14pt;
	font-weight: 200;
	border: 1px #ccc solid;
	transition: border-color 150ms ease-in;

	&:focus {
		outline: none;
		border: 1px #1cbd6a solid;
	}
}
