@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');

@import 'components/Login';
@import 'components/Listings';
@import 'components/Register';
@import 'base/Nav';
@import 'base/Button';
@import 'pages/Home';
@import 'pages/StudentProfile';


body {
	font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
}

a {
	font-size: 12pt;
}

.App {
	padding: 10px 50px;
}

.thin {
	font-weight: 300;
}
